# Ignorer tous les dossiers "temp" et leurs contenus
temp/
build/
logs/

# Maven
backend/target/
collaboration-service/target/
project-service/target/
backend/.mvn/
backend/mvnw
backend/mvnw.cmd

# Node
frontend/node_modules/
frontend/dist/
frontend/.angular/

# IDE
.idea/
.vscode/
*.iml
*.class
*.log

# OS
.DS_Store
Thumbs.db

# Environment
.env
*.env

# Build
*.jar
*.war
*.ear
